body {
  /* default fonts, size, line spacing and text color for whole site. */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
  margin-top: 0;
  background: url("../images/aqua_marble_seamless.jpg");  /* background for the whole page */
}

* {
  box-sizing: border-box;  /* includes border & margin in item's width */
}

/* general */

.container {
  width: 100%;  /* use all 960px */
  max-width: 960px;  /* main content block never gets bigger than this */
  margin: 0 auto;  /* no top margin */
  clear: both;   /* clear any extraneous floats */
}



h1, h3 {
  /* default text attributes for headers */
  margin-bottom: 20px;  /* default spacing after each header and paragraph */
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #4aaaa5;
}

h1 {
  /* make more space after primary headers; bigger font & more space between lines */
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  /* light border after primary header */
  border-bottom: 3px solid #dddddd;
}


h3 {
  font-size: 22px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

/* header */

.myHeader {
    z-index: 99;
    width: 100%;
    max-width: 960px;
    margin: auto;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
 }


 #myName {
  float: left;
  width: 320px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  margin-top: 25px;
  float: right;
  padding-right: 10px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid darkgrey;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 12px 0 35px;
  width: 100%;
  margin: auto;
  clear: both;
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 3px solid #4aaaa5;
  height: 4px;
  position: fixed;
  bottom: 0; 
  left: 0; 
}

/* main */


.main-section {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 20px 0 70px;
  background: #ffffff;
  border: 1px solid #dddddd;
}


/* portfolio page in separate file */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

/*
.work:nth-child(even) {
  margin-right: 40px;
}
*/

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}


.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}





@media screen and (min-width:1200px) {


  .container {
    padding-top: 25%;
    margin-top: 185px;
  }

  #myHeader {
    max-width: 960px;
    margin: auto;
  }

  header {
    max-width: 960px;
  }

}

@media screen and (max-width:1200px) {



}



@media screen and (max-width:768px) {

  .main-section {
    float: left;
    padding: 2% 2% 30px 2%;
  }


  .main-section p:last-child {
    margin-bottom: auto;
  }
} /* end of max width 768 */



/* media queries */

@media screen and (max-width:640px) {
    
  body {
    margin: 0;
    clear: both;
  }
  
  header {
    position: fixed;
    top: 0;      
  }

  h1 {
    padding: 0 0 1% 0;
  }

 /* .container {
    padding-top: 25%;
    margin-top: 185px;
  }
*/


  #myName {
    width: 100%;
  }
    
  nav {
    float: none;
    margin: 3%;
    text-align: center;
  }

  nav a {
    padding: 0 7px;
    margin: 15px 0 0 0;
    border: 0;
  }

  .main-section {
    max-width: 95%;
    margin: 180px auto 20%;
    float: none;
    background-color: white;  /* added */
    height: 1600px;        /* added */
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work {
    margin: auto;
    margin-bottom: 25px;
  }

} /* end of max width 640 */